{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="col-lg-12 container">
  <div class=" container mt-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{users.username}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{users.email}}</h6>
        <p class="card-text">{{users.description}}</p>
        <a href="#" class="card-link"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        <a href="#" class="card-link"><i class="fab fa-github" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <button class="btn btn-outline-success" id="clickMe">What's on your mind?</button>
    <div id="shownot">
      <form method="GET" id="addUser">
        <div class="form-group">
          <label for="hastags">Write Hastags</label>
          <input type="text" class="form-control" placeholder="Enter Hastags if any" name="hastag" id="hastag">
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <input type="text" class="form-control" placeholder="Write your Content" name="content" id="content">
        </div>
        <button type="submit" class="btn btn-primary" id="hidenot">Post</button>
      </form>
      <button class="btn btn-danger mt-2" id="cancle">Cancle</button>
    </div>
  </div>
</div>

<div class="row container ml-5 mt-3">
  {% for post in posts %}
  <div class="col-md-4">
    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{post.user.username}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{post.title}}</h6>
        <p class="card-text">{{post.description}}</p>
        <hr>
        {{ post.liked.all.count }}
        <hr>
        <form action="{% url 'likes' post.id %}" method="POST">
          {% csrf_token %}
          {% if user in post.liked.all %}
          <button class="btn btn-danger" type="submit">Unlike</button>
          {% else %}
          <button class="btn btn-success" type="submit">Like</button>
          {% endif %}
        </form>
        {% if request.user == post.user %}
        <a href="{% url 'delete' post.id %}" class="card-link"><i class="fas fa-trash-alt"></i></a>
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="ml-3">
          <i class="fas fa-pencil-alt"></i>
        </a>
        {% endif %}

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Your Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="{% url 'edit' post.id %}" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="hastags">Hastags</label>
                    <input type="text" class="form-control" id="hastags" placeholder="Enter Hastags if any"
                      name="hastag">
                  </div>
                  <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" id="content" placeholder="Write your Content"
                      name="content">
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="col-md-4" id="showDivv">

  </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function () {
    $("#shownot").hide();
    $("#clickMe").click(function () {
        $("#shownot").show();
    });
    $("#cancle").click(function () {
        $("#shownot").hide();
    });
});
</script>
<script>

const form = document.getElementById('addUser');
form.addEventListener('submit', myfunct)
function myfunct(e) {
    console.log(document.querySelector('#hastag'));
    e.preventDefault();
    const hastag = document.getElementById('hastag').value;
    const comment = document.getElementById('content').value;
    urll = '{% url "crud_ajax_create" %}?hastag=' + hastag + '&content=' + comment;
    document.getElementById('hastag').value = '';
    document.getElementById('content').value = '';
    const req = new XMLHttpRequest;
    req.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            const values = eval(req.responseText);
            for (let i = 0; i < values.length; i++) {
                addUser(values[i])
            }
        }
    };
    req.open("GET", urll, true);
    req.send();
}
function addUser(post) {
    const list = document.querySelector('#showDivv');
    const row = document.createElement('div');
    row.innerHTML = `
      <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">${post.user}</h5>
        <h6 class="card-subtitle mb-2 text-muted">${post.hastag}</h6>
        <p class="card-text">${post.content}</p>
        <hr>
        ${post.like}
        <hr>
        <form action="../liked/${post.id}/" method="POST">
          {% csrf_token %}
          <button class="btn btn-success" type="submit">Like</button>
        </form>
        <a href="../delete/${post.id}/" class="card-link"><i class="fas fa-trash-alt"></i></a>
        <a href="#" data-toggle="modal" data-target="#exampleModal" class="ml-3">
          <i class="fas fa-pencil-alt"></i>
        </a>
      </div>
    </div>          
      `
    list.appendChild(row);
}
</script>
{% endblock %}